.inputMovie {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__text {
    margin-right: 5px;
    margin-bottom: 5px;
    color: rgb(220, 20, 60);
    font-weight: bold;
    margin-bottom: 10px;
  }
  &__name {
    height: 30px;
    width: 200px;
    background-color: rgba(220, 20, 60, 0.39);
    border: none;
    border-radius: 5px;
    font-size: large;
    margin-bottom: 10px;
  }
}
::placeholder {
  color: crimson;
  font-size: large;
}
@media (min-width: 768px) {
  .inputMovie {
    &__text {
      font-size: 20px;
    }
    &__name {
      height: 40px;
      width: 300px;
    }
  }
}
@media (min-width: 1200px) {
  .inputMovie {
    &__text {
      font-size: 25px;
    }
    &__name {
      height: 60px;
      width: 400px;
    }
  }
}
