.filterYearContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  &__label {
    margin-right: 5px;
    margin-bottom: 10px;
    color: rgb(220, 20, 60);
    font-weight: bold;
  }
  &__selectYear {
    height: 30px;
    width: 200px;
    background-color: rgba(220, 20, 60, 0.39);
    border: none;
    border-radius: 5px;
    color: crimson;
    font-size: large;
  }
}
@media (min-width: 768px) {
  .filterYearContainer {
    &__label {
      font-size: 20px;
    }
    &__selectYear {
      height: 40px;
      width: 300px;
    }
  }
}
@media (min-width: 1200px) {
  .filterYearContainer {
    &__label {
      font-size: 25px;
    }
    &__selectYear {
      height: 60px;
      width: 400px;
    }
  }
}
