.containerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.detailContainer {
  width: 270px;
  height: 520px;
  border: solid 5px crimson;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  margin: 10px;
}
.linksStyleDetail {
  color: crimson;
  font-size: 16px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  margin-bottom: 15px;
  align-items: center;
}
.posterImageDetail {
  margin: 10px;
  width: 180px;
  height: 250px;
  border-radius: 20px;
}
.detailContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  margin-left: 15px;
  margin-right: 5px;
}
@media (min-width: 768px) {
  .containerPage {
    display: flex;
    flex-direction: row;
  }
  .detailContainer {
    width: 440px;
    height: 700px;
  }
  .linksStyleDetail {
    font-size: 26px;
  }
  .posterImageDetail {
    margin-top: 20px;
    width: 250px;
    height: 300px;
  }
  .detailContent {
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (min-width: 1200px) {
  .detailContainer {
    width: 480px;
    height: 800px;
  }
  .detailContent {
    margin-left: 50px;
    margin-right: 50px;
  }
}
