.movieContainer {
}
// .movieCard {
//   width: 200px;
// }
.listContainer {
  height: fit-content;
  border: solid crimson 5px;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
