.detailContainer {
  width: auto;
  height: auto;
  border: solid 5px crimson;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  margin: 5px;
  color: grey;
  overflow: hidden;
}
.linksStyleDetail {
  text-decoration: none;
  color: crimson;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}
.posterImageDetail {
  margin: 10px;
  width: auto;
  height: 360px;
  border-radius: 20px;
}
.detailContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 10px;
}
.textLineDetail {
  margin: 5px;
}
.audioText {
  margin-left: 5px;
  margin-right: 5px;
}
